# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# PyInstaller
*.spec

# Test and coverage
.coverage
.tox/
.nox/
dist/
build/
*.egg-info/

# Pytest cache
.pytest_cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.tar
